body {
    background-color: rgb(189, 187, 187);
    color: black;
    font-family: Arial;
}

header{
    background-color: white;
    height: 100px;
    width: max;
    margin: -30px;
}

.home {
    float: center;
    margin-top: 30px;
    margin-left: 500px;
    padding-top: 20px;
}

.header_link {
    float: right;
    margin: 30px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
    transition: 0.5s;
    color: black;
    background-color: white;
    text-decoration: none;
}

.form-group input {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid red;
}

.header_link:hover {
    border-color: blue;
    color: blue;
    background-color: LightGray;
}

.profile {
    margin-top: 100px;
    width: 700px;
    background-color: black;
    color: white;
}

.add-new-post {
    padding-top: 50px;
    float: right;
    margin-left: 500px;
}

